<h1>Welcome to your guide to Directors, Actors and Movies!</h1>

<h2>Please select from the following:</h2>

<button><h1>
<a href="/directors">Directors</a>
</h1></button>

<button><h1>
<a href="/actors">Actors</a>
</h1></button>

<button><h1>
<a href="/movies">Movies</a>
</h1></button>


