<h1>Add a new actor</h1>

<form action="http://localhost:3000/actors/create_actor">
  Name:
  <input name="name" type="text">

 Image:
  <input name="image_url" type="text">

 DOB:
 <input name="DOB" type="text">

 BIO
 <input name="BIO"  type="text">

  <button>Create Actor</button>

</form>

<a href="/actors">Cancel and go back</a>