<h1>Add a new movie</h1>

<form action="http://localhost:3000/movies/create_movie">
  Title:
  <input name="title" type="text">

 Image:
  <input name="image_url" type="text">

 Year:
 <input name="year" type="text">

 Duration:
 <input name="duration"  type="text">

 Description:
 <input name="description"  type="text">

  <button>Create Movie</button>

</form>

<a href="/movies">Cancel and go back</a>