<h1>Add a new director</h1>

<form action="http://localhost:3000/directors/create_director">
  Name:
  <input name="name" type="text">

 Image:
  <input name="image_url" type="text">

 DOB:
 <input name="DOB" type="text">

 BIO
 <input name="BIO"  type="text">

  <button>Create Director</button>

</form>

<a href="/directors">Cancel and go back</a>